* {
	margin: 0;
	padding: 0;
	border: 0 none;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline-style: none;
}

#wrapper {
	margin: 0 auto;      /* horizontally center our content */
	text-align: center;  /* this is for older IE versions */
	width: 960px;        /* account for browser chrome --- 1024x768 */
}

#header{
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  height: 50px;
  background-color: blue;
  color: #FFFFFF;
}

ul {
	list-style-type: none;
}

#nav{
  z-index: 20;
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  background: #C0C0C0;
  font-size: 20px;
  margin: 0;
  padding: 0;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}

#nav li{
  display: inline;
}

#nav li a{
  position: relative;
  float: left;
  display: block;
  padding: 10px 20px;
  color: black;}
  
#nav li a:hover{
  color: yellow;
  background-color: blue;
  border-top: 2px solid yellow;}

#video{
  position: center;
  padding: 20px;
  margin: auto;
}

#footer {
  padding: 20px;
  margin: auto;
  text-align: center;
  background: #C0C0C0;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}